/* Icons */

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}

.icon-loading {
  display: inline-block;
  width: 16px;
  height: 11px;
  vertical-align: middle;
  background-position: center left;
  background-repeat: no-repeat;
  background-image: url(data:image/gif;base64,R0lGODlhEAALAPQAAP///zMzM+Hh4dnZ2e7u7jc3NzMzM1dXV5qamn9/f8fHx05OTm5ubqGhoYKCgsrKylFRUTY2NnFxcerq6t/f3/b29l9fX+Li4vT09MTExLKystTU1PHx8QAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCwAAACwAAAAAEAALAAAFLSAgjmRpnqSgCuLKAq5AEIM4zDVw03ve27ifDgfkEYe04kDIDC5zrtYKRa2WQgAh+QQJCwAAACwAAAAAEAALAAAFJGBhGAVgnqhpHIeRvsDawqns0qeN5+y967tYLyicBYE7EYkYAgAh+QQJCwAAACwAAAAAEAALAAAFNiAgjothLOOIJAkiGgxjpGKiKMkbz7SN6zIawJcDwIK9W/HISxGBzdHTuBNOmcJVCyoUlk7CEAAh+QQJCwAAACwAAAAAEAALAAAFNSAgjqQIRRFUAo3jNGIkSdHqPI8Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAkLAAAALAAAAAAQAAsAAAUyICCOZGme1rJY5kRRk7hI0mJSVUXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkECQsAAAAsAAAAABAACwAABTcgII5kaZ4kcV2EqLJipmnZhWGXaOOitm2aXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2y6C+4FIIACH5BAkLAAAALAAAAAAQAAsAAAUvICCOZGme5ERRk6iy7qpyHCVStA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkECQsAAAAsAAAAABAACwAABS8gII5kaZ7kRFGTqLLuqnIcJVK0DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7AAAAAAAAAAAA);
}

a .icon-loading,
.icon-loading-link {
  background-image: url(data:image/gif;base64,R0lGODlhEAALAPQAAP///0KLyuPt9tvp9O/0+UaNy0KLymSf06LF5Im23cvf8Fua0His2ajJ5oy43s7h8F6c0USMynuu2ezz+eHs9vb5+2uk1eTu9/X4+8jd77jT6tfm8/L2+gAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCwAAACwAAAAAEAALAAAFLSAgjmRpnqSgCuLKAq5AEIM4zDVw03ve27ifDgfkEYe04kDIDC5zrtYKRa2WQgAh+QQJCwAAACwAAAAAEAALAAAFJGBhGAVgnqhpHIeRvsDawqns0qeN5+y967tYLyicBYE7EYkYAgAh+QQJCwAAACwAAAAAEAALAAAFNiAgjothLOOIJAkiGgxjpGKiKMkbz7SN6zIawJcDwIK9W/HISxGBzdHTuBNOmcJVCyoUlk7CEAAh+QQJCwAAACwAAAAAEAALAAAFNSAgjqQIRRFUAo3jNGIkSdHqPI8Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAkLAAAALAAAAAAQAAsAAAUyICCOZGme1rJY5kRRk7hI0mJSVUXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkECQsAAAAsAAAAABAACwAABTcgII5kaZ4kcV2EqLJipmnZhWGXaOOitm2aXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2y6C+4FIIACH5BAkLAAAALAAAAAAQAAsAAAUvICCOZGme5ERRk6iy7qpyHCVStA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkECQsAAAAsAAAAABAACwAABS8gII5kaZ7kRFGTqLLuqnIcJVK0DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7AAAAAAAAAAAA);
}

/* Global Bootstrap overrides and addons */

.form-control,
.input-lg,
.btn,
.alert,
.breadcrumb,
.dropdown-menu,
.modal-content,
.nav-tabs > li > a,
.btn-group-lg > .btn,
.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0;
}

.alert {
  border: 0;
  padding: 15px 20px;
}

.alert > h3:last-child,
.alert > h4:last-child,
.alert > h5:last-child {
  margin-top: 10px;
}

.alert-withicon {
  position: relative;
  padding-left: 100px;
}

.alert-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  padding: 0 10px;
  margin-top: -26px;
  font-size: 52px;
  opacity: 0.3;
}

.modal-footer {
  margin-top: 0;
}

.modal-body > .alert:last-child {
  margin-bottom: 0;
}

.breadcrumb li.pull-right:before {
  display: none;
}

.text-capitals {
  text-transform: capitalize;
}

.help-block {
  color: #999;
}

.lead {
  font-size: 16px;
}

.tooltip.tooltip-danger.right .tooltip-arrow {
  border-right-color: #A94442;
}

.tooltip.tooltip-danger .tooltip-inner {
  background-color: #A94442;
  border-color: #A94442;
  color: #FFFFFF;
}

/* Animations */

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
}
.modal-backdrop.am-fade.ng-enter {
  opacity: 0;
}
.modal-backdrop.am-fade.ng-enter-active {
  opacity: .5;
}
.modal-backdrop.am-fade.ng-leave {
  opacity: .5;
}
.modal-backdrop.am-fade.ng-leave-active {
  opacity: 0;
}

/*.txlist-detail,
.txlist-detail * {
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  overflow: hidden;
}
.txlist-detail.ng-hide-add,
.txlist-detail.ng-hide-remove {
  display: table-row !important;
}
.txlist-detail.ng-hide,
.txlist-detail.ng-hide * {
  opacity: 0 !important;
  line-height: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}*/

/* Line divider component */

.line-divider {
  margin: 20px 0;
  position: relative;
}

.line-divider > hr {
  position: absolute;
  top: 50%;
  width: 100%;
  margin: 0;
}

.line-divider > .line-divider-content {
  position: relative;
}

.slider-horizontal {
  width: 100% !important;
}

/* Layout, header, footer */

html {
  position: relative;
  overflow-y: scroll;
  min-height: 100%;
}

body {
  margin: 0 0 120px; /* bottom = footer height */
}

[ng-cloak] {
  display: none !important;
}

.page-header {
  margin: 0;
  padding: 15px 0;
}

.page-header .navbar-brand {
  padding: 0;
  padding-left: 30px;
  margin-top: 4px;
}

.page-container {
  padding-top: 20px;
}

.page-content {
}

.page-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 6em;
  padding: 1.5em 0;
  text-align: center;
  color: #999;
  font-size: smaller;
}

.page-footer a {
  color: #999;
}

/* Feedback button & modal */

.btn-feedback {
  position: fixed; bottom: 0%; left: 4%;
  border-bottom-width: 0;
}

@media all and (min-width: 1024px) {
  .btn-feedback {
    bottom: auto; bottom: 30%; left: 0%;
    border-bottom-width: 1px;
    border-top-width: 0;

    /* Rotate and stick to the left, translateY =~ width */
    -webkit-transform: translateY(100px) rotate(-90deg);
    -moz-transform: translateY(100px) rotate(-90deg);
    -o-transform: translateY(100px) rotate(-90deg);
    -ms-transform: translateY(100px) rotate(-90deg);
    transform: translateY(100px) rotate(-90deg);
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
  }
}

/* Error app, installer modal */

.btn-installer-download .glyphicon {
  top: 2px;
}

.btn-installer-platform {
  opacity: 0.7;
}

/* Device nav */

.nav-devices .disabled a {
  pointer-events: none;
  color: #428BCA !important;
  opacity: 0.6;
  transition: opacity 0.5s 0.5s;
}

.nav-devices .active {
  background: rgba(66, 139, 202, 0.1);
}

.dev-status {
  display: block;
  margin-top: -4px;
  opacity: 0.6;
}

.dev-blocked {
  top: 12px;
  right: -200px;
  width: 200px;
}

.dev-acc-info {
  white-space: nowrap;
}

.dev-acc-info .icon-loading {
  margin-left: 10px;
}

.nav-devices-accounts {
  margin-bottom: 10px;
}

/* Error on inconsistent acc info */

.alert-inconsistent .btn {
  margin-left: 20px;
}

/* Overlays */

.overlay-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.overlay-default {
  background: rgba(255, 255, 255, 0.6);
}

.overlay-content {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
}

/* Transaction list */

.txlist-loading,
.txlist-empty {
  margin-top: 50px;
}

.txlist thead th {
  font-size: 85%;
  font-weight: normal;
  border-bottom: none !important;
  padding: 4px 8px !important;
}

.txlist thead th.txlist-header-address {
  padding-left: 30px !important;
}

.txlist thead th.txlist-header-amount {
  padding-left: 16px !important;
}

.txlist-tx {
  cursor: pointer;
}

.table-hover .txlist-detail:hover td {
  background: transparent !important;
}

.txlist-detail {
}

.txlist-detail dl {
  margin-bottom: 0;
}

.txlist-detail td {
  padding: 10px 12px !important;
}

.txlist-detail dt {
  width: 144px;
  opacity: 0.5;
  font-weight: normal;
}

.txlist-address {
  font-family: monospace;
}

.txlist-amount {
  font-family: monospace;
}

.txlist-balance {
  font-family: monospace;
}

.txlist-hash {
  font-family: monospace;
}

/* Device send/receive nav */

.nav-sendrecv {
  margin-bottom: 20px;
}

/* Receive */

.address-list .badge {
  opacity: 0.5;
}

.address-list .list-group-item.active {
  color: hsl(208, 40%, 43%);
  background-color: hsla(208, 56%, 53%, 0.1);
  border-color: hsla(208, 56%, 53%, 0.4);
}

.address-list .list-group-item.active:hover {
  color: hsl(208, 40%, 43%);
  background-color: hsla(208, 56%, 53%, 0.2);
  border-color: hsla(208, 56%, 53%, 0.5);
}

/* Send */

.qrscan-video {
  display: block;
  width: 100%;
}

.qrscan-cancel {
  position: absolute;
  bottom: 10px;
  right: 25px; /* 10px + 15px of col padding */
}

.qrscan-col .qrscan-cancel {
  visibility: hidden;
}

.qrscan-col:hover .qrscan-cancel {
  visibility: visible;
}

.txaddress-qrscan {
  position: absolute;
  font-size: 18px;
  right: 22px;
  top: 8px;
}

.txpreview {
  font-size: 10px;
  word-wrap: break-word;
}

/* Device setup & restore */

.devsetup {
  padding-right: 30px;
  border-right: 1px solid #EEE;
}

.devsetup-strength {
  margin-top: 10px;
}

.devsetup-strength-label {
  display: block;
  text-transform: uppercase;
  font-size: 10px;
}

.devrestore {
  padding: 20px;
}

/* PIN modal */

.pinmodal .modal-body .form-group {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
}

.pinmodal .modal-body .col-sm-4 {
  padding-left: 5px;
  padding-right: 5px;
}

.pinmodal .modal-body {
  padding-bottom: 0;
}

.pinmodal .modal-footer {
  margin-top: 0;
}
