<div ng-switch="state">

  <div ng-switch-when="initial">
    <div class="modal-header">
      <h3 class="modal-title">Your device firmware is outdated!</h3>
    </div>
    <div class="modal-body">
      <p>Our team is constantly working on adding new features to TREZOR.
      To enjoy full functionality and security of your device, we
      <strong>strongly recommend you to update</strong>.<p>

      <strong class="h5">Current firmware:</strong>
      {{version[0]}}.{{version[1]}}.{{version[2]}}
      <br>

      <strong class="h5">Available firmware:</strong>
      {{firmware.version[0]}}.{{firmware.version[1]}}.{{firmware.version[2]}}
      <br>

      <h5 ng-if="firmware.changelog">Changelog:</h5>
      <pre ng-if="firmware.changelog">{{firmware.changelog}}</pre>

      <p class="alert alert-info alert-withicon">
        <span class="glyphicon glyphicon-info-sign alert-icon"></span>
        To update the firmware, please plug your device in firmware update mode.
        Keep <strong>both device buttons pressed</strong> while connecting the device to enter this mode.
      </p>
      <a href="">Need help?<!-- #TODO --></a>
    </div>
    <div class="modal-footer"
         ng-if="!firmware.required">
      <button type="button" class="btn btn-default"
              ng-click="cancel()">Ask me next time</button>
    </div>
  </div>

  <div ng-switch-when="device-bootloader">
    <div class="modal-header">
      <h3 class="modal-title">Do you want to update the device firmware?</h3>
    </div>
    <div class="modal-body">

      <div ng-if="version">
        <p>
          <strong class="h5">Current firmware:</strong>
          {{version[0]}}.{{version[1]}}.{{version[2]}}
        </p>
      </div>

      <div ng-if="firmware">
        <p>
          <strong class="h5">Available firmware:</strong>
          {{firmware.version[0]}}.{{firmware.version[1]}}.{{firmware.version[2]}}
        </p>
      </div>

      <div ng-if="firmware.changelog">
        <p>
          <h5>Changelog:</h5>
          <pre>{{firmware.changelog}}</pre>
        </p>
      </div>

      <div class="alert alert-warning alert-withicon">
        <span class="glyphicon glyphicon-warning-sign alert-icon"></span>
        <h4>Caution!</h4>
        <strong>Always have your Recovery seed with you before updating firmware!</strong>
        <p>In very rare cases, a firmware update might result in the need to recover the wallet
        from Recovery seed.</p>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
              ng-click="update()">Yes, update</button>
      <button type="button" class="btn btn-default"
              ng-if="!firmware.required"
              ng-click="$close()">Cancel</button>
    </div>
  </div>

  <div ng-switch-when="device-normal">
    <div class="modal-body">
      <div class="alert alert-warning text-center">
        <h4>Your TREZOR is not in the firmware update mode.</h4>
        <p>Please reconnect it <strong>while pressing both buttons simultaneously.</strong></p>
      </div>
    </div>
    <div class="modal-footer"
         ng-if="!firmware.required">
      <button type="button" class="btn btn-default"
              ng-click="$close()">Cancel</button>
    </div>
  </div>

  <div ng-switch-when="update-downloading">
    <div class="modal-body">
      <div class="alert alert-info text-center">
        <h4>Downloading firmware...</h4>
      </div>
    </div>
  </div>

  <div ng-switch-when="update-flashing">
    <div class="modal-body">
      <div class="alert alert-info text-center">
        <h4>Uploading firmware...</h4>
        <p>If asked, please confirm the update on your device.</p>
        <!-- #TODO pridat obrazek akce na trezoru -->
      </div>
    </div>
  </div>

  <div ng-switch-when="update-success">
    <div class="modal-body">
      <div class="alert alert-success text-center">
        <h4>Update was successful</h4>
        <p>Please unplug the device now.</p>
      </div>
    </div>
  </div>

  <div ng-switch-when="update-error">
    <div class="modal-body">
      <div class="alert alert-danger text-center">
        <h4>Update failed</h4>
        <p>{{error}}</p>
      </div>
    </div>
  </div>

</div>