<!---this modal is displayed when forget is requested-->
<div class="modal-header">
  <h4 class="modal-title">Forget device?</h4>
</div>
<div class="modal-body">
  <p>Do you want to forget your device?</p>
  <p class="text-muted">Forgetting only removes the device from the list 
  on the left, your bitcoins are still safe and you can access them by 
  reconnecting your Trezor again.</p>
 <p ng-show="device.features.passphrase_protection">
 You will have to enter your passphrase next time you connect your Trezor.
 </p>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$dismiss()">Don't forget</button>
  <button type="button" class="btn btn-primary" ng-click="$close()">Forget</button>
</div>
