<div class="modal-header">
  <h4 class="modal-title">Wipe finished</h4>
</div>
<div class="modal-body">
  <p class="alert alert-success"
    ng-if="hideSuccessMsg">Your Trezor was successfully wiped.</p>
  <p>Would you like myTREZOR to forget your old device with the old data or to remember it?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$dismiss()">Remember</button>
  <button type="button" class="btn btn-primary" ng-click="$close()">Forget (recommended)</button>
</div>
