<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>myTREZOR Web Wallet</title>
    <meta name="description" content="myTREZOR Web Wallet">
    <meta name="viewport" content="width=device-width">

    <!-- build:css({.tmp,app}) styles/styles.css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap-slider/dist/css/bootstrap-slider.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 9]>
      <div class="browsehappy alert alert-warning">
        <h4>You are using an <strong>outdated</strong> browser.</h4>
        Please <a href="http://browsehappy.com">upgrade your browser</a>
        to improve your experience.
      </div>
    <![endif]-->

    <div class="page-header navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"
            ><img src="images/logo.png" height="45" alt="myTREZOR Web Wallet"></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Wallet</a></li>
          <li><a target="_blank" href="http://satoshilabs.com/news/">News</a></li>
          <li><a target="_blank" href="http://doc.satoshilabs.com/trezor-user/">Help</a></li>
          <li><a href="mailto:support@bitcointrezor.com">Support</a></li>
        </ul>
      </div>
    </div>

    <!-- Webwallet Application -->
    <div id="webwalletApp-container"
         ng-cloak>

      <!-- Outdated firmware bar -->
      <div class="alert alert-warning optfirmware"
           ng-if="optionalFirmware">
        <div class="container">
          <strong>New TREZOR firmware is available.</strong>
          Upgrade for the newest features and bug fixes.
          <button class="btn btn-sm btn-warning"
                  ng-click="optionalFirmware.update()">Show details</button>
        </div>
      </div>

      <div class="page-container container">
        <div class="row">
          <!-- Navigations -->
          <div class="col-md-3"
               ng-include="'views/nav.html'">
          </div>

          <!-- Content view -->
          <div class="page-content col-md-9">
            <flash-messages>
                <div ng-repeat="m in messages"
                     ng-switch="m.level">
                  <div class="alert alert-flash alert-danger"
                       ng-switch-when="error">
                    <h4 class="text-capitals">{{m.level}}!</h4>
                    {{m.text}}
                    <span ng-if="m.html" ng-bind-html="m.html"></span>
                  </div>
                  <div class="alert alert-flash alert-{{m.level}}"
                       ng-switch-default>
                    <h4 class="text-capitals">{{m.level}}</h4>
                    {{m.text}}
                    <span ng-if="m.html" ng-bind-html="m.html"></span>
                  </div>
                </div>
            </flash-messages>
            <div ng-view></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Error Application -->
    <div id="errorApp-container"
         class="page-container container"
         ng-controller="ErrorCtrl"
         ng-cloak>
      <ng-include src="'views/error.html'">
    </div>

    <div class="page-footer container">
      Copyright &copy; 2014 <a href="http://satoshilabs.com/" target="_blank">SatoshiLabs</a><br>
      Backend powered by
      <a href="https://bitsofproof.com/?page_id=826" target="_blank"
         ><img src="/images/bitsofproof.png" height="24" alt="Bits of Proof"></a>
    </div>

    <!-- build:js scripts/libs.js -->
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bitcoinjs-lib/build/bitcoinjs.js"></script>
    <script src="bower_components/trezor.js/dist/trezor.js"></script>
    <script src="bower_components/qrcode/lib/qrcode.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <!-- jsqrcode -->
    <script src="bower_components/jsqrcode/src/grid.js"></script>
    <script src="bower_components/jsqrcode/src/version.js"></script>
    <script src="bower_components/jsqrcode/src/detector.js"></script>
    <script src="bower_components/jsqrcode/src/formatinf.js"></script>
    <script src="bower_components/jsqrcode/src/errorlevel.js"></script>
    <script src="bower_components/jsqrcode/src/bitmat.js"></script>
    <script src="bower_components/jsqrcode/src/datablock.js"></script>
    <script src="bower_components/jsqrcode/src/bmparser.js"></script>
    <script src="bower_components/jsqrcode/src/datamask.js"></script>
    <script src="bower_components/jsqrcode/src/rsdecoder.js"></script>
    <script src="bower_components/jsqrcode/src/gf256poly.js"></script>
    <script src="bower_components/jsqrcode/src/gf256.js"></script>
    <script src="bower_components/jsqrcode/src/decoder.js"></script>
    <script src="bower_components/jsqrcode/src/qrcode.js"></script>
    <script src="bower_components/jsqrcode/src/findpat.js"></script>
    <script src="bower_components/jsqrcode/src/alignpat.js"></script>
    <script src="bower_components/jsqrcode/src/databr.js"></script>
    <!-- angular modules -->
    <script src="bower_components/angular-qr/angular-qr.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <!-- bootstrap modules -->
    <script src="bower_components/bootstrap/js/alert.js"></script>
    <script src="bower_components/bootstrap/js/button.js"></script>
    <script src="bower_components/bootstrap/js/transition.js"></script>
    <script src="bower_components/bootstrap/js/dropdown.js"></script>
    <script src="bower_components/bootstrap/js/modal.js"></script>
    <script src="bower_components/bootstrap/js/tooltip.js"></script>
    <script src="bower_components/bootstrap/js/popover.js"></script>
    <script src="bower_components/bootstrap-slider/js/bootstrap-slider.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/filters/filters.js"></script>
    <!-- services -->
    <script src="scripts/services/bip39.js"></script>
    <script src="scripts/services/utils.js"></script>
    <script src="scripts/services/slider.js"></script>
    <script src="scripts/services/storage.js"></script>
    <script src="scripts/services/firmwareService.js"></script>
    <script src="scripts/services/trezorService.js"></script>
    <script src="scripts/services/TrezorDevice.js"></script>
    <script src="scripts/services/TrezorBackend.js"></script>
    <script src="scripts/services/TrezorAccount.js"></script>
    <script src="scripts/services/uriRedirect.js"></script>
    <!-- directives -->
    <script src="scripts/directives/flashMessages.js"></script>
    <script src="scripts/directives/qrScan.js"></script>
    <script src="scripts/directives/focus.js"></script>
    <!-- controllers -->
    <script src="scripts/controllers/error.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/nav.js"></script>
    <script src="scripts/controllers/import.js"></script>
    <script src="scripts/controllers/device/device.js"></script>
    <script src="scripts/controllers/device/load.js"></script>
    <script src="scripts/controllers/device/recovery.js"></script>
    <script src="scripts/controllers/device/setup.js"></script>
    <script src="scripts/controllers/device/wipe.js"></script>
    <script src="scripts/controllers/account/account.js"></script>
    <script src="scripts/controllers/account/receive.js"></script>
    <script src="scripts/controllers/account/send.js"></script>
    <script src="scripts/controllers/modal/pin.js"></script>
    <!-- compiled templates -->
    <script src="scripts/templates.webwallet.js"></script>
    <script src="scripts/templates.error.js"></script>
    <!-- endbuild -->
  </body>
</html>
