<div ng-controller="DeviceCtrl">

  <ol class="breadcrumb">
    <li class="active">{{device.label()}}</li>
    <ng-include src="'views/device/forget.link.html'"></ng-include>
  </ol>

  <fieldset class="row" ng-disabled="device.status() !== 'connected'">

    <div class="devinfo col-md-12" ng-hide="device.isEmpty()">
      <ng-include src="'views/device/index.info.html'"></ng-include>
    </div>

    <div class="devsetup col-md-8" ng-show="device.isEmpty()">
      <ng-include src="'views/device/index.setup.html'"></ng-include>
    </div>

    <div class="devrestore col-md-4 text-center" ng-show="device.isEmpty()">
      <p class="help-block">Want to restore your wallet from recovery seed?</p>
      <a class="btn btn-default"
         ng-href="#/device/{{device.id}}/recovery"
        >TREZOR Recovery</a>
    </div>

  </fieldset>

  <div class="row"
       ng-if="device.accounts.length">

    <div class="col-xs-12">
      <div class="line-divider"
           ng-hide="advanced">
        <hr>
        <div class="line-divider-content text-center">
          <button class="btn btn-xs btn-default"
                  ng-click="advanced = !advanced">
            Advanced details
            <span class="caret"></span>
          </button>
        </div>
      </div>

      <div ng-show="advanced">
        <hr>
        <div class="row">
          <div class="col-md-8">
            <h5>Account public keys</h5>
            <ul class="nav nav-devices-accounts text-break">
              <li ng-repeat="account in device.accounts" class="text-muted">
                <small>
                  <strong>{{account.label()}}:</strong>
                  {{account.publicKey()}}
                </small>
              </li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-8">
            <a class="btn btn-danger"
               ng-href="#/device/{{device.id}}/wipe">
              <span class="glyphicon glyphicon-trash"></span>
              Wipe device
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
