<form ng-controller="DeviceSetupCtrl">

  <h3>Welcome to TREZOR Setup!</h3>
  <p class="lead">
    Please take your time to read all of the instructions. Setting up your TREZOR
    will take only a few minutes. When you're done, you can start using your TREZOR.
  </p>

  <div class="form-group">
    <label for="label">Device label</label>
    <input type="text" name="label" id="label" class="form-control"
           placeholder="My TREZOR"
           ng-model="settings.label">
    <p class="help-block">
      This label will be shown on the display when you plug your TREZOR in.
      This is useful if you have more than one device.
    </p>
  </div>

  <div class="line-divider"
       ng-hide="advanced">
    <hr>
    <div class="line-divider-content text-center">
      <button class="btn btn-xs btn-default"
              ng-click="advanced = !advanced">
        Advanced features
        <span class="caret"></span>
      </button>
    </div>
  </div>

  <div ng-show="advanced">
    <div class="form-group">
      <hr>
      <h4>Recovery seed length</h4>
      <p>
        Your recovery seed is a sequence of words. It will help you recover your wallet
        (your bitcoins and transaction history), into another device should your TREZOR
        be lost or destoyed.
      </p>
      <input type="text" name="strength" id="strength"
             class="form-control"
             slider
             data-slider-value="128"
             data-slider-min="128"
             data-slider-max="256"
             data-slider-step="64"
             data-slider-tooltip="hide"
             ng-model="settings.strength">
      <div class="row devsetup-strength">
        <p class="col-sm-4 text-left">
          12 words <span class="devsetup-strength-label">Good enough</span>
        </p>
        <p class="col-sm-4 text-center">
          18 words <span class="devsetup-strength-label">Even stronger</span>
        </p>
        <p class="col-sm-4 text-right">
          24 words <span class="devsetup-strength-label">Paranoid</span>
        </p>
      </div>
      <p class="help-block">We believe 12 words are safe enough but you have the option to use 18 or 24
      for more security. Just keep in mind that the recovery
      process using a longer seed takes slightly more time.</p>
    </div>

    <hr>
    <h4>PIN protection</h4>
    <p>
      Using PIN protection is highly recommended. The PIN prevents unauthorized persons from stealing
      your bitcoins if they ever get physical access to your device.
    </p>
    <p>You can reset or change your PIN at any time after the setup is complete. Be careful with your recovery card.  If anyone finds out your recovery seed they can steal your bitcoins even without your pin.</p>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="pin-protection"
               ng-model="settings.pin_protection"> Enable PIN protection
      </label>
    </div>

    <hr>
    <h4>Additional passphrase encryption</h4>
    <p>
      Using an encryption passphrase adds an additional level of security. You'll be asked for your passhrase every time
      you want to access your wallet. Be careful though, if you forget the passphrase
      there will be no way to recover your bitcoins. Not even the Recovery seed.
      Also note that TREZOR passphrases are case-sensitive.
      <span class="text-danger">For experts only!</span>
    </p>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="passphrase-protection"
               ng-model="settings.passphrase_protection">
        I take responsibility and want to enable passphrase encryption
      </label>
    </div>
    <hr>

  </div>

  <div class="form-group text-center">
    <button class="btn btn-lg btn-success"
            ng-click="setupDevice()">Continue</button>
  </div>

</form>
