<ul ng-controller="NavCtrl"
    class="nav nav-tabs">
  <li ng-class="{ active: isActive('/device/{{device.id}}/account/{{account.id}}$') }">
    <a class="btn" href="#/device/{{device.id}}/account/{{account.id}}">
      <span class="glyphicon glyphicon-transfer"></span> Transactions
    </a>
  </li>
  <li ng-class="{ active: isActive('/device/{{device.id}}/account/{{account.id}}/receive$') }">
    <a class="btn" href="#/device/{{device.id}}/account/{{account.id}}/receive">
      <span class="glyphicon glyphicon-circle-arrow-right"></span> Receive
    </a>
  </li>
  <li ng-class="{ active: isActive('/device/{{device.id}}/account/{{account.id}}/send$') }">
    <a class="btn" href="#/device/{{device.id}}/account/{{account.id}}/send">
      <span class="glyphicon glyphicon-circle-arrow-left"></span> Send
    </a>
  </li>
</ul>
