<div ng-controller="DeviceCtrl">
  <div ng-controller="AccountCtrl">

    <div class="alert alert-danger alert-inconsistent"
         ng-show="account.isInconsistent()">
      <strong>Warning!</strong> Account balance information is inconsistent.
    </div>

    <ng-include src="'views/account/nav.html'"></ng-include>

    <div class="tab-content">
      <div ng-if="account.transactions === null"
           class="text-center text-muted">
        <h4>Waiting for transaction history&hellip;</h4>
      </div>
      <div ng-controller="AccountReceiveCtrl"
           ng-if="account.transactions !== null"
           class="row">

        <div class="col-md-8">

          <button class="address-list-toggleused btn btn-sm btn-link pull-right"
                  ng-show="!usedAddresses.length && account.transactions.length"
                  ng-click="usedAddresses = account.usedAddresses()">
            <span class="glyphicon glyphicon-chevron-up"></span> Show previous
          </button>

          <button class="address-list-toggleused btn btn-sm btn-link pull-right"
                  ng-show="usedAddresses.length && account.transactions.length"
                  ng-click="usedAddresses = []">
            <span class="glyphicon glyphicon-chevron-down"></span> Hide previous
          </button>

          <h5>Address</h5>

          <!-- Previous addresses -->
          <div class="list-group address-list address-list-used"
               ng-show="usedAddresses.length">
            <span class="list-group-item address-list-item"
               ng-repeat="address in usedAddresses"
               ng-class="{ active: activeAddress.address === address.address }"
               ng-click="activate(address)">
              <span class="address-list-index"
                    >/{{address.path[address.path.length-1]}}</span>
              <span class="address-list-address">{{address.address}}</span>

              <div class="address-list-balance pull-right"
                   ng-if="address.received">
                Total recieved<br>
                <a href="{{blockExplorer.urlAddress}}{{address.address}}"
                   target="_blank" title="Address info at {{blockExplorer.name}}">
                  {{address.received | amount}} {{account.coin.coin_shortcut}}
                </a>
              </div>

              <div class="address-list-balance pull-right"
                   ng-if="!address.received">
                Unused address
              </div>

              <!-- Address verification -->
              <span class="address-verify"
                    ng-if="
                    device.supports('addressVerification')
                    "
                    ng-class="{nonactive: (activeAddress.address !== address.address)}"
                    >
                <div ng-if="device.isConnected()"
                     ng-hide="address.verification">
                  <button class="btn btn-link btn-verifyaddress"
                          ng-click="verify(address)"
                          tooltip="Show on TREZOR"
                          tooltip-placement="bottom"
                          tooltip-append-to-body="1"  
                        >
                    <span class="glyphicon glyphicon-eye-open"></span>
                  </button>
                </div>
                <div ng-if="!device.isConnected()"
                     tooltip="Connect your device to display this address"
                     tooltip-placement="bottom">
                  <button class="btn btn-link btn-verifyaddress" disabled>
                    <span class="glyphicon glyphicon-eye-open"></span>
                  </button>
                </div>
              </span>
            </span>
            <hr>
          </div>

          <!-- Fresh addresses -->
          <div class="list-group address-list">
            <div ng-repeat="address in addresses">
              <a class="list-group-item address-list-item"
                 ng-class="{
                 invalid: address.invalid,
                 active: activeAddress.address === address.address
                 }"
                 ng-click="activate(address)">
                <span class="address-list-index"
                      >/{{address.path[address.path.length-1]}}</span>
                <span class="address-list-address"
                      >{{address.address}}</span>

                <!-- Address verification -->
                <span class="address-verify"
                      ng-if="
                      device.supports('addressVerification') 
                      "
                    ng-class="{nonactive: (activeAddress.address !== address.address)}"
                      >
                  <div ng-if="device.isConnected()"
                       ng-hide="address.verification">
                    <button class="btn btn-link btn-verifyaddress"
                            ng-click="verify(address)"
                            tooltip="Show on TREZOR"
                            tooltip-placement="bottom"
                            tooltip-append-to-body="1"  
                            >
                      <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                  </div>
                  <div ng-if="!device.isConnected()"
                       tooltip="Connect your device to display this address"
                       tooltip-placement="bottom">
                    <button class="btn btn-link btn-verifyaddress" disabled>
                      <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                  </div>
                </span>
              </a>

              <div class="line-divider"
                   ng-show="$first">
                <hr>
                <div class="line-divider-content text-center">
                  <button class="btn btn-xs btn-default"
                          ng-disabled="
                          enoughAddresses()
                          "
                          ng-click="more()">
                    More please
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div ng-show="
                enoughAddresses()
               ">
            <p class="text-danger">
              To access subsequent addresses, please use some of the
              listed addresses in a transaction.
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div>
            <h5>QR Code</h5>

            <a class="address-qr-link"
               href="{{blockExplorer.urlAddress}}{{activeAddress.address}}"
               target="_blank" title="Address info at {{blockExplorer.name}}">
              <qr size="210"
                  text="activeAddress.address"
                  correction-level="'M'"
                  type-number="0"
                  input-mode="'8bit'"></qr>
            </a>
          </div>

          <div ng-if="activeAddress">
            <h5>Details</h5>

            <ul class="list-unstyled">
              <li ng-if="activeAddress.path">
                <span class="h6">BIP32 Path:</span>
                <small class="text-monospace">{{ activeAddress.path | bip32Path }}</small>
              </li>
              <li ng-if="activeAddress.received">
                <span class="h6">Total Received:</span>
                <small class="text-success"
                  >{{ activeAddress.received | amount }} {{account.coin.coin_shortcut}}</small>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <!--
      <div>
      {{ account.publicKey() }}
      </div>
      -->

    </div>
  </div>
</div>
