<div ng-controller="DeviceCtrl">
  <div ng-controller="AccountCtrl">

    <ng-include src="'views/account/nav.html'"></ng-include>

    <div class="tab-content sign"
         ng-controller="AccountSignCtrl">

      <div class="row">
        <div class="col-md-6">
          <form name="form"
                ng-submit="signSaveAddress() && sign()">
            <fieldset>
              <legend>Sign message</legend>

              <div class="alert"
                   ng-show="hasErrorMessage('sign')"
                   ng-class="getAlertClass('sign')">
                {{sign.res.message}}
              </div>

              <div class="form-group">
                <label for="sign-message">Message</label>
                <textarea class="form-control"
                          name="message" id="sign-message"
                          ng-model="sign.message"
                          ng-change="resetSign()"
                          maxlength="255"
                          rows="4"
                          ></textarea>
              </div>
              <div class="alert alert-warning" 
                    role="alert"
                    ng-show="sign.message.length>245 && !(isUnicode(sign.message)) "
                   ng-class="{'alert-danger': sign.message.length==255}"
              >
                    <strong>Warning:</strong> 
                    Maximal message length is 255 letters long.
                    Your message is {{sign.message.length}} letters long.
              </div>
              <div class="alert alert-warning" 
                    role="alert"
                    ng-show="sign.message.length>54 && sign.message.length<=245 && !(isUnicode(sign.message))"
              >
                    <strong>Warning:</strong> 
                    Trezor can show only 64 letters on the display.
                    Your message is {{sign.message.length}} letters long.
              </div>
              <div class="alert alert-danger" 
                    role="alert"
                    ng-show="isUnicode(sign.message)"
              >
                    Trezor cannot sign non-ASCII characters. "{{nonAsciiCharacter(sign.message)}}" in your message is not an ASCII character.
              </div>



              <div class="form-group has-feedback"
                  ng-class="getSignAddressClass()">
                <label for="sign-address">Address</label>
                <input type="text" class="form-control"
                       name="address" id="sign-address"
                       ng-model="sign.address"
                       ng-change="resetSign(); signSaveAddress()"
                       >
                <span class="glyphicon glyphicon-ok form-control-feedback"
                  aria-hidden="true"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback"
                  aria-hidden="true"></span>
              </div>

              <div class="form-group">
                <label for="sign-signature">Signature</label>
                <textarea class="form-control"
                          name="signature" id="sign-signature"
                          rows="4" readonly="readonly"
                          ng-model="sign.signature"></textarea>
              </div>
              <div class="pull-left"
                       tooltip="Please connect your device to sign messages."
                        tooltip-trigger="{{ device.isConnected() ? 'manual' : 'mouseenter'}}"
                       tooltip-placement="bottom"
                       >

                    <button type="submit" class="btn btn-primary"
                        ng-disabled="!isSignValid() || device.status() !== 'connected'"
                        ng-hide="isUnicode(sign.message)"
                    >
                        Sign
                    </button>
             </div>
            </fieldset>
          </form>
        </div>

        <div class="col-md-6">
          <form name="form"
                ng-submit="verify()">
            <fieldset>
              <legend>Verify message</legend>

              <div class="alert"
                   ng-show="hasErrorMessage('verify')"
                   ng-class="getAlertClass('verify')">
                {{verify.res.message}}
              </div>

              <div class="form-group">
                <label for="verify-message">Message</label>
                <textarea class="form-control"
                          name="message" id="verify-message"
                          required
                          ng-model="verify.message"
                          ng-change="verify.res.status = null"
                          maxlength="255"
                          rows="4"
                          ></textarea>
              </div>
              <div class="alert alert-warning" 
                    role="alert"
                    ng-show="verify.message.length>245 && !(isUnicode(verify.message)) "
                   ng-class="{'alert-danger': verify.message.length==255}"
              >
                    <strong>Warning:</strong> 
                    Maximal message length is 255 letters long.
                    Your message is {{verify.message.length}} letters long.
              </div>
              <div class="alert alert-warning" 
                    role="alert"
                    ng-show="verify.message.length>54 && verify.message.length<=245 && !(isUnicode(verify.message))"
              >
                    <strong>Warning:</strong> 
                    Trezor can show only 64 letters on the display.
                    Your message is {{verify.message.length}} letters long.
              </div>
              <div class="alert alert-danger" 
                    role="alert"
                    ng-show="isUnicode(verify.message)"
              >
                    Trezor cannot verify non-ASCII characters. "{{nonAsciiCharacter(verify.message)}}" in your message is not an ASCII character.
              </div>



              <div class="form-group">
                <label for="verify-address">Address</label>
                <input type="text" class="form-control"
                       name="address" id="verify-address"
                       required
                       ng-model="verify.address"
                       ng-change="resetVerify()"
                       >
              </div>

              <div class="form-group">
                <label for="verify-signature">Signature</label>
                <textarea class="form-control"
                          name="signature" id="verify-signature"
                          rows="4"
                          ng-model="verify.signature"
                          ng-change="resetVerify()"
                          ></textarea>
              </div>
              <div class="pull-left"
                        tooltip="Please connect your device to verify messages."
                        tooltip-trigger="{{ device.isConnected() ? 'manual' : 'mouseenter'}}"
                       tooltip-placement="bottom"
                       >


                    <button type="submit" class="btn btn-primary"
                        ng-hide="isUnicode(verify.message)"
                        ng-disabled="device.status() !== 'connected'"
                    >
                        Verify
                    </button>

               </div>

            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
