<ol class="breadcrumb">
  <li class="active">{{device.label()}}</li>

  <li class="pull-right">
    <a href="" class="text-muted"
       title="Forget this device"
       ng-click="forgetDevice()"
      ><span class="glyphicon glyphicon-log-out"></span></a>
  </li>
</ol>

<div ng-if="!device.isConnected()" class="alert alert-warning">
  <strong>Please connect your device</strong> to access this section.
</div>

<fieldset ng-disabled="!device.isConnected()">

  <p ng-show="device.isEmpty()">
    <a class="btn btn-block btn-lg btn-primary"
       ng-href="#/device/{{device.id}}/setup"
      ><span class="glyphicon glyphicon-cog"></span> Setup device</a>
  </p>

  <p ng-show="device.isEmpty()">
   <a class="btn btn-default"
      ng-href="#/device/{{device.id}}/recovery"
    ><span class="text-info">TREZOR Recovery</span>
    </a>
   <small class="text-muted">Allows you to restore your wallet from Recovery seed.</small>
  </p>

  <p ng-hide="device.isEmpty()">
    <a class="btn btn-default"
       ng-href="#/device/{{device.id}}/wipe"
      ><span class="text-danger">Wipe device</span>
      <small class="text-muted">- delete all private data and reset device to factory defaults</small></a>
  </p>

</fieldset>
