<div class="modal-dialog"
     ng-if="!installed">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Get started</h4>
    </div>
    <div class="modal-body">
      <p class="lead">
        Please download and install the TREZOR Browser Plugin.
        <strong>Why?</strong> The plugin allows myTREZOR to communicate with your TREZOR device.
      </p>

      <div class="text-center">
        <p class="form-inline">
          <a class="btn-installer-download btn btn-lg btn-success"
             ng-href="{{ selectedInstaller.url }}">
            <span class="glyphicon glyphicon-download"></span> Download
          </a>
          <select class="form-control"
                  placeholder="Select platform..."
                  ng-model="selectedInstaller"
                  ng-options="
                    installer as 'for ' + installer.label
                    for installer
                    in installers
                    track by installer.platform">
          </select>
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <div class="text-center">
        <small class="text-muted">
        myTREZOR Web Wallet is a free service provided exclusively to
        <a href="http://www.bitcointrezor.com">TREZOR hardware wallet</a> owners.
        </small>
      </div>
    </div>
  </div>
</div>
