<div class="row"
     ng-if="installed">
  <div class="col-md-6 col-md-offset-3">
    <div class="alert alert-danger">
      <h4>Plugin loading failed :(</h4> {{error.message}}
    </div>
  </div>
</div>

<div class="modal-dialog"
     ng-if="!installed">
  <div class="modal-content">
    <div class="modal-body">
      <p class="lead">Get started</p>
      <p>Download and install the TREZOR Browser Plugin.</p>
      <p><strong>Why?</strong> The plugin allows myTREZOR to communicate with your TREZOR device.</p>
      <hr>
      <div class="text-center">

        <label><input type="checkbox" ng-model="agree"> I agree with the <a href="/legal.html" target="_blank">Terms &amp; Conditions</a></label>

        <div class="btn-group btn-group-lg text-left">
          <button class="btn-installer-download btn btn-success"
                  ng-disabled="!agree"
                  ng-click="download(selected)">
            <span class="glyphicon glyphicon-download"></span> Download
          </button>
          <button class="btn-installer-platform btn btn-success"
                  data-html="true"
                  ng-model="selected"
                  ng-options="
                    installer
                    as '<small>for ' + installer.label + '</small>'
                    for installer
                    in installers
                    track by installer.platform"
                  bs-select></button>
        </div>
      </div>

      <small class="text-muted">myTREZOR Web Wallet is a free service provided exclusively to <a href="http://www.bitcointrezor.com">TREZOR hardware wallet</a> owners.</small>
    </div>
  </div>
</div>
