<div class="modal">
  <div class="modal-dialog modal-md"
       ng-switch="state">

    <div class="modal-content"
         ng-switch-when="initial">
      <div class="modal-body">
        <h3>Your device firmware is outdated!</h3>
        <p>Our team is constantly working on adding new features to TREZOR.</p>
        <p>To enjoy full functionality and security of your device, we strongly recommend you
        to update.<p>

       <strong class="h5">Current firmware:</strong>
        {{version[0]}}.{{version[1]}}.{{version[2]}}
        <br>

        <strong class="h5">Available firmware:</strong>
        {{firmware.version[0]}}.{{firmware.version[1]}}.{{firmware.version[2]}}
        <br>

        <h5 ng-if="firmware.changelog">Changelog:</h5>
        <pre ng-if="firmware.changelog">{{firmware.changelog}}</pre>

        <p>To update the firmware, please plug your device in firmware update mode.</p>
        <p>Keep both device buttons pressed while connecting the device to enter this mode.</p>
        <a href=''>Need help?<!-- #TODO --></a>

      </div>
      <div class="modal-footer"
           ng-if="!firmware.required">
        <button type="button" class="btn btn-default"
                ng-click="cancel()">Ask me next time</button>
      </div>
    </div>

    <div class="modal-content"
         ng-switch-when="device-bootloader">
      <div class="modal-body">
        <h3>Do you want to update the device firmware?</h3>

        <div ng-if="version">
          <strong class="h5">Current firmware:</strong>
          {{version[0]}}.{{version[1]}}.{{version[2]}}
        </div>

        <div ng-if="firmware">
          <strong class="h5">Available firmware:</strong>
          {{firmware.version[0]}}.{{firmware.version[1]}}.{{firmware.version[2]}}
        </div>

        <div ng-if="firmware.changelog">
          <h5>Changelog:</h5>
          <pre>{{firmware.changelog}}</pre>
        </div>

        <strong>Caution:</strong>
        <span style='color:red;'>Always have your Recovery seed with you before updating the firmware!</span>
        <p>In very rare cases, a firmware update might result in the need to recover the wallet
        from Recovery seed.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                ng-click="update()">Yes, update</button>
        <button type="button" class="btn btn-default"
                ng-if="!firmware.required"
                ng-click="cancel()">Cancel</button>
      </div>
    </div>

    <div class="modal-content"
         ng-switch-when="device-normal">
      <div class="modal-body">
        <div class="alert alert-warning text-center">
          <h4>Your TREZOR is not in the firmware update mode.</h4>
          <p>Please reconnect it <strong>shile pressing both buttons simultaneously.</strong></p>
        </div>
      </div>
      <div class="modal-footer"
           ng-if="!firmware.required">
        <button type="button" class="btn btn-default"
                ng-click="cancel()">Cancel</button>
      </div>
    </div>

    <div class="modal-content"
         ng-switch-when="update-downloading">
      <div class="modal-body">
        <div class="alert alert-info text-center">
          <h4>Downloading firmware...</h4>
        </div>
      </div>
    </div>

    <div class="modal-content"
         ng-switch-when="update-flashing">
      <div class="modal-body">
        <div class="alert alert-info text-center">
          <h4>Uploading firmware...</h4>
          <p>If asked, please confirm the update on your device.</p>
          <!-- #TODO pridat obrazek akce na trezoru -->
        </div>
      </div>
    </div>

    <div class="modal-content"
         ng-switch-when="update-success">
      <div class="modal-body">
        <div class="alert alert-success text-center">
          <h4>Update was successful</h4>
          <p>Please unplug the device now.</p>
        </div>
      </div>
    </div>

    <div class="modal-content"
         ng-switch-when="update-error">
      <div class="modal-body">
        <div class="alert alert-danger text-center">
          <h4>Update failed</h4>
          <p>{{error}}</p>
        </div>
      </div>
    </div>

  </div>
</div>
