<ul class="nav nav-devices" ng-controller="NavCtrl">
  <!-- Device -->
  <li ng-repeat="device in devices"
      ng-class="{ disabled: device.isLoading() }">
    <a ng-href="#/device/{{device.id}}"
       ng-class="{ active: isActive('/device/{{device.id}}$') }">
      <h4>
        {{device.label()}}
        <span class="pull-right dev-status-icon icon-loading" title="Loading..."
              ng-show="device.isLoading()"></span>
      </h4>

      <small class="dev-status">
        <span class="dev-status-{{device.status()}}"
              ng-switch="device.status()">
          <span ng-switch-when="loading"><span class="glyphicon glyphicon-cog"></span> Loading&nbsp;&hellip;</span>
          <span ng-switch-when="connected"><span class="glyphicon glyphicon-check"></span> Connected</span>
          <span ng-switch-when="disconnected"><span class="glyphicon glyphicon-unchecked"></span> Disconnected</span>
        </span>
      </small>
    </a>

    <div class="dev-blocked tooltip tooltip-danger in right"
         ng-show="device.blocked">
      <div class="tooltip-inner">
        The device cannot be open. Make sure you don't have Wallet running in other tabs!
      </div>
      <div class="tooltip-arrow"></div>
    </div>

    <ul class="nav nav-devices-accounts">
      <!-- Account -->
      <li ng-repeat="account in device.accounts">
        <a ng-href="#/device/{{device.id}}/account/{{account.id}}{{account.isEmpty()?'/receive':''}}"
           ng-class="{ active: isActive('/device/{{device.id}}/account/{{account.id}}') }"
          >{{account.label()}}
          <small class="dev-acc-info">
            <span ng-if="account.balance != null">
              ({{account.balance | amount}} {{account.coin.coin_shortcut}})
            </span>
            <span ng-if="account.balance == null">
              <span class="icon-loading"></span>
            </span>
          </small>
        </a>
      </li>
    </ul>

    <div ng-if="!device.isEmpty()">
      <div ng-if="!device.canAddAccount()"
           data-title="To add accounts, make sure your device is connected and the last account is not empty."
           data-trigger="hover"
           data-placement="bottom"
           bs-tooltip>
        <a href="" class="btn btn-block btn-sm" disabled
          ><span class="glyphicon glyphicon-plus"></span> Add account</a>
      </div>

      <div ng-if="device.canAddAccount()">
        <a ng-href="" class="btn btn-block btn-sm"
           ng-class="{ active: isActive('/device/{{device.id}}/account-add') }"
           ng-click="addAccount(device)"
          ><span class="glyphicon glyphicon-plus"></span> Add account</a>
      </div>
    </div>

    <hr ng-hide="$last">
  </li>
</ul>
