<ol class="breadcrumb">
  <li><a ng-href="#/device/{{device.id}}">{{device.label()}}</a></li>
  <li><a ng-href="#/device/{{device.id}}/account/{{account.id}}"
    >{{account.label()}}</a></li>
  <li class="active">Send</li>

  <li class="pull-right">
    <a href="" class="text-muted"
       title="Forget this device"
       ng-click="forgetDevice()"
      ><span class="glyphicon glyphicon-log-out"></span></a>
  </li>
</ol>

<div class="row">
  <form name="form" class="form-horizontal col-md-8">

    <div class="form-group">
      <label for="address" class="control-label col-sm-3">Address:</label>
      <div class="col-sm-9">
        <input id="address" class="form-control" type="text"
               ng-change="estimate(transaction)"
               ng-model="transaction.address"
               ng-options="
                 address.address as address.label
                 group by address.source
                 for address in suggestAddresses()"
               bs-typeahead
               required>
        <a href="" class="glyphicon glyphicon-qrcode txaddress-qrscan text-muted"
           title="Scan QR code"
           ng-click="scanQr()"
           ng-show="!transaction.address && !qrScanning && qrScanEnabled"></a>
      </div>
    </div>

    <div class="form-group">
      <label for="amount" class="control-label col-sm-3">Send {{account.coin.coin_shortcut}}:</label>
      <div class="col-sm-4">
        <input id="amount" class="form-control" type="text"
               ng-change="estimate(transaction)"
               ng-model="transaction.amount"
               required>
      </div>
      <label for="fee" class="control-label col-sm-2">Fee:</label>
      <div class="col-sm-3">
        <input id="fee" class="form-control" type="text"
               ng-model="transaction.fee"
               tabindex="-1"
               data-title="Fee is calculated automatically from the size of your transaction."
               data-container="body"
               data-trigger="hover"
               bs-tooltip
               readonly>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary"
                ng-disabled="form.$invalid"
                ng-click="send()">Send</button>
        <a href="#/device/{{device.id}}/account/{{account.id}}"
           class="btn btn-link">Cancel</a>
        <span class="text-danger pull-right">{{transaction.error}}</span>
      </div>
    </div>

  </form>

  <div class="qrscan-col col-md-4"
       ng-if="qrScanning">
    <qr-scan ng-model="$parent.qrAddress"></qr-scan>
    <a href="" class="qrscan-cancel pull-right btn btn-xs btn-default text-muted"
       ng-click="cancelQr()">Cancel</a>
  </div>

  <div class="txpreview col-md-4 text-muted"
       ng-if="transaction.prepared">
    <h5>Inputs</h5>
    <ol class="list-unstyled">
      <li ng-repeat="input in transaction.prepared.inputs">
        {{input.prev_hash}}:{{input.prev_index}}
      </li>
    </ol>
    <h5>Outputs</h5>
    <ol class="list-unstyled">
      <li ng-repeat="output in transaction.prepared.outputs">
        <strong>{{output.amount | amount}} {{account.coin.coin_shortcut}}</strong><br>
        <span ng-if="output.address">{{output.address}}</span>
        <span ng-if="output.address_n">{{output.address_n | bip32Path}}</span>
      </li>
    </ol>
  </div>
</div>