<ol class="breadcrumb">
  <li><a ng-href="#/device/{{device.id}}">{{device.label()}}</a></li>
  <li class="active">Setup</li>

  <li class="pull-right">
    <a href="" class="text-muted"
       title="Forget this device"
       ng-click="forgetDevice()"
      ><span class="glyphicon glyphicon-log-out"></span></a>
  </li>
</ol>

<div ng-if="!device.isConnected()" class="alert alert-warning">
  <strong>Please connect your device</strong> to access this section.
</div>

<div class="row">
  <fieldset ng-disabled="!device.isConnected()">
    <form class="devsetup col-md-6">
      <p>
      Welcome to TREZOR Setup! Take your time to read all instructions. The setup might
      take up to a few minutes. When done, you can start using TREZOR.</p>

      <div class="form-group">
        <strong>Device label</strong>
        <p>This label will be shown on the display.
        Useful if you have more devices.</p>
        <input type="text" name="label" id="label" class="form-control"
               placeholder="My TREZOR"
               ng-model="settings.label">
      </div>

      <div class="form-group">
        <strong>Recovery seed length</strong>
        <p>Recovery seed is a sequence of words. It will help you recovering your wallet
        (balance and transaction history) when needed; even into another device.
        We believe 12 words are safe enough but you have the option to choose 18 or 24
        for more security. Just keep in mind that the recovery
        process using longer seed takes slightly more time.</p>
        <input type="text" name="strength" id="strength"
               class="form-control"
               slider
               data-slider-value="128"
               data-slider-min="128"
               data-slider-max="256"
               data-slider-step="64"
               data-slider-tooltip="hide"
               ng-model="settings.strength">
        <div class="row devsetup-strength">
          <div class="col-sm-4 text-left">
            12 words <span class="devsetup-strength-label">Good enough</span>
          </div>
          <div class="col-sm-4 text-center">
            18 words <span class="devsetup-strength-label">Even stronger</span>
          </div>
          <div class="col-sm-4 text-right">
            24 words <span class="devsetup-strength-label">Paranoid</span>
          </div>
        </div>
      </div>

      <div class="checkbox">
        <strong>PIN protection</strong>
        <p>
            Using PIN protection is highly recommended. PIN prevents unauthorized persons from stealing
            your bitcoins even when they get physical access to your device.
        </p>
        <p>PIN can be set or changed later as well. Careful, PIN does not protect your Recovery seed.</p>
        <label>
          <input type="checkbox" name="pin-protection"
                 ng-model="settings.pin_protection"> Enable PIN protection
        </label>
        <a href="" class="badge"
              data-placement="top"
              data-trigger="hover"
              data-html="true"
              data-title="Placeholder title"
              data-content="
                Placeholder <strong>content</strong>
              "
              bs-popover>?</a>
      </div>

      <div class="checkbox">
        <strong>Additional passphrase encryption</strong>
        <p>
            Encryption passphrase is additional level of security. You'll be asked for your passhrase every time
            you want to access your wallet. Careful, if you forget the passphrase,
            nothing will help you to get access to your wallet. Not even the Recovery seed.
            Also note that passphrase is case-sensitive.
            <span style='color:red;'>For experts only!</span>
        </p>
        <label>
          <input type="checkbox" name="passphrase-protection"
                 ng-model="settings.passphrase_protection"> I take the responsibility and want to enable passphrase encryption
        </label>
      </div>

      <div class="form-group">
        <button class="btn btn-primary"
                ng-click="setup(device, settings)">Continue</button>
        <a href="#/device/{{device.id}}"
           class="btn btn-link">Cancel</a>
      </div>

    </form>
  </fieldset>
</div>
