<ol class="breadcrumb">
  <li><a ng-href="#/device/{{device.id}}">{{device.label()}}</a></li>
  <li class="active">Wipe</li>

  <li class="pull-right">
    <a href="" class="text-muted"
       title="Forget this device"
       ng-click="forgetDevice()"
      ><span class="glyphicon glyphicon-log-out"></span> Forget device</a>
  </li>
</ol>

<div ng-if="!device.isConnected()" class="alert alert-warning">
  <strong>Please connect your device</strong> to access this section.
</div>

<fieldset ng-disabled="!device.isConnected()">
  <p>Do you really want to wipe the device?</p>
  <p>All data from the device will be lost. But you can recover your funds using recovery seed.</p>

  <button class="btn btn-danger"
          ng-click="wipe(device)">Wipe</button>
  <a href="#/device/{{device.id}}" class="btn btn-link">Cancel</a>

  <p>If you are running Mac OS X, you need to unplug and reconnect the device before using it again after wiping.</p>
</fieldset>
